.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 5px solid rgb(21, 150, 255);
    gap: 0px
}

.grid-temp {
    border: 5px solid rgb(21, 150, 255);
    background-color: rgb(203, 231, 255);
    padding: 3rem;
    font-size: 30px;
    text-align: center;

}

.header {
    grid-column: 1 / 4;
}

.menu {
    grid-area: 2 / 1 / span 2 / span 1;
}

.main {
    padding: 10rem;
}

.footer {
    grid-area: 3 / 2 / span 1 / span 2;
}